<ion-header-bar class="bar-stable has-header">
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="title">Header Buttons</div>
            <button class="button button-clear button-positive">Edit</button>
        </div>
      </ion-header-bar>

<ion-content> 
      </div>
      <br>
      <br>
      <br>
      <br>
        <div class="list">
          <h3>Sigin</h3>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
        <button class="button button-full button-positive">Submit</button>
        <div class="list card">

  
</div>