<ion-header-bar class="bar-stable">
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="title">Header Buttons</div>
            <button class="button button-clear button-positive">Edit</button>
        </div>
      </ion-header-bar>
<ion-content>
<br>
<br>
<br>
<br>  
  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/19025342_1146724832099248_3098598430087171329_o.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/22730191_2342106795815501_40823723782741800_n.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
<div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/26230925_1320349691403427_1991107678603254824_n.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/menus/howto">Back</a>
</ion-content>