<ion-header-bar class="bar-stable">
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="title">Header Buttons</div>
            <button class="button button-clear button-positive">Edit</button>
        </div>
      </ion-header-bar>
<ion-content>
<br>
<br>
<br>
<br>  
<div class="list card">

  <div class="item item-avatar">
    <img src="img/22051118_1500785446680347_1109491627459270445_o.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/Lana-Del-Rey-2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>  
<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/menus/member">Back</a>
</ion-content>